tqdm
numpy
numexpr
h5py
opencv-python
ffmpeg-python
scikit-image
scipy
colorama
tensorflow
pyqt5
tf2onnx
Flask
flask-socketio
tensorboardX
crc32c
jsonschema
opencv-python-headless
pyyaml
tensorflow[and-cuda]
tensorrt
